.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  inline-size: 80vw;
  block-size: 45vh;
  margin: 2rem;
 
}

.carts {
  display: flex;
  flex-direction: column;
  inline-size: 40vw;
  block-size: 40vh;
  padding-block-start: 0.5rem;
    
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 25vw;
  block-size: 40vh;
  padding-block-start: 0.5rem;
  gap: 1rem;
 
}
.product button {
  font-size: 14px;
  color:rgb(61, 40, 12);
  background-color: rgb(214, 180, 135);
  font-weight: bold;
  border-radius: 0.5rem;
  inline-size: 5rem;
  block-size: 28px;
 
}