.button {
  display: flex;
  inline-size: 16rem;
  justify-content: space-between;
  border-radius: 0.5rem;
  color: rgb(42, 4, 65);
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(107, 210, 236, 0.678);
 }
.button button {
  font-size: 16px;
  color:rgb(48, 29, 4);
  background-color: rgb(111, 170, 226);
  font-weight: bold;
  inline-size: 4.5rem;
  block-size: 1.5rem;
  border-radius: 0.5rem;
}
.button button:hover {
  transform: scale(1.1);
  background-color: aquamarine;
  cursor: pointer;
}