.container {
    display: flex;
    background-color: rgb(209, 207, 207);
}

.photo{
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 15px;
    flex: 1;
    width: 500px;
    height: 300px;
}

.title{
    text-align: center;
    font-size: 32px;
}

.container .info {
    flex: 2;
}

.container .score {
    text-align: center;
}

.container .attributes {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-align: left;
}

.attributes{
    margin-left: 15px;
    margin-bottom: 20px;
}

.info{
    padding: 15px 15px;
    text-align: left;
}

.info span{
    font-weight: 700;
}

.data{
    padding: 15px 12px 15px 0;
}

.buttons{
    display: flex;
    justify-content:center;
}

.buttons button:not(:last-child) {
    margin-right: 10px;
}

.cartbutton{
    padding: 5px 40px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    background-color: #00AC7C;
    color: white;
}

.buybutton{
    padding: 5px 40px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    background-color: green;
    color: white;
}

.cartbutton:hover, .buybutton:hover{
    cursor: pointer;
    opacity: 0.8;
}

.commets{
    text-align: left;
}

.message{
    padding: 15px 0;
    background-color: rgb(209, 207, 207);
    text-align: center;
}

.message textarea{
    width: 300px;
    height: 100px;
}

.btn{
    align-items: center;
}