.Home{
   background-color: #1a2a3b;
   min-height: 296vh;
    width: 100%;
}
.com{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 100%;
}
.titulo{
    margin: 2.5em;
    text-align: center;
    color: beige;
}