.wrap {
  display: flex;
  justify-content: center;
  }
.content {
  display: flex;
  flex-direction: column;
  inline-size: 95vw;
  margin-block-start: -8px;
}
.contentHb {
  display: flex;
  justify-content:space-between;
  inline-size: 95vw;
  block-size: 6vh;
  gap: 2rem;
}
.navContent{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  inline-size: 95vw;
  block-size: 6vh;
}
.homeForm {
  color: rgb(26, 51, 3);
  font-weight: bold;
  font-size: 20px;
}
.butn {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-inline-end: 2rem; 
  inline-size: 20vw;
  block-size: 2rem;
  gap: 1rem;
}

.butn button {
  font-size: 14px;
  color:rgb(61, 40, 12);
  background-color: rgb(214, 180, 135);
  font-weight: bold;
  border-radius: 0.5rem;
  margin-inline-end: 1rem;
  inline-size: 5rem;
  block-size: 28px;
}
.butn button:hover {
  transform: scale(1.1);
  cursor: pointer;
}