.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100vw;
  background-color: #1a2a3b;
 }
.contenStore {
  display: flex;
  flex-direction: column;
  inline-size: 95vw;
  block-size: 86vh;
  overflow-x: hidden;  
  overflow-y: hidden;  
}
.storePage {
  display: flex;
  justify-content: center;
  margin-inline-start: 0.5rem;
}