.LoginTitle{
    color: black;
    font-weight: bold;
}

.loginInput{
    text-align: left;
    padding: 0.8rem 10rem 0.8rem 0.5rem;
    margin-bottom: 2rem;
}
.titleBox{
    display: flex;
    justify-content: center;
}
.btnLogin, .btnRegistro{
    text-align: center;
    background-color: black;
    color: white;
}
.btnLogin{
    padding: 0.8rem 8.5rem;
}
.btnRegistro{
    padding: 0.8rem 7.5rem;
}
.btnAuth0{
    border: 2px solid black;
    padding: 0.8rem 5rem 1rem;
}
.googleIcon{
    width: 20px;
    height: 20px;
    padding-right: 0.5rem;
}
.btnPassW, .btnCreate{
    border: none;
    outline: none;
    color: #0645AD;
    background-color: transparent;
}
.error{
    color: red;
}
span{
    display: block;
}